header {
  background-color: #ff6600;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

header nav {
  position: relative;
  top: -3px;
  padding-right: 2rem;
}

header h1 {
  margin: 0;
  padding: 1rem 1rem 1rem 2rem;
  font-size: 3rem;
  position: relative;
  bottom: -1.7rem;
  color: #f4f4f4;
}

header a {
  margin-left: 1rem;
  color: #f4f4f4;
  text-decoration: none;
  /* position: relative;
  top: 2px; */
}

header a.selected {
  border-bottom: 3px solid #f4f4f4;
}

.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38bb6c;
}

.forLargeScreen {
  display: inline;
}

.forSmallScreen {
  display: none;
}

@media screen and (max-width: 500px) {
  header {
    justify-content: space-between;
  }
  .forLargeScreen {
    display: none;
  }

  .forSmallScreen {
    display: inline;
  }
}
